

#root{
  height : 100vh;
  background-color: darkgrey;
}
.contain{
  color: white;  
  width :30%;
  margin : auto;
  text-align: center;
}

#body{
  background-color: black;
}
.card-group{   
  
    border: 5px solid blueviolet; 
}

img{
  height: 200px;
}